.button-primary-filled {
    color: $color_white_1;
    background: $color_blue_p_1;
    padding: 8px;
    border: 1px solid $color_blue_p_1;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    width: auto;
    cursor: pointer;
}

.button-primary-outlined {
    color: $color_blue_p_1;
    padding: 8px;
    border: 1px solid $color_blue_p_1;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    width: auto;
    cursor: pointer;
}

.button-danger {
    color: $color_white_1;
    padding: 8px;
    border: 1px solid $color_red_1;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    width: auto;
    cursor: pointer;
    background: $color_red_1;
}