.container {
    display: flex;
    height: 100vh;
    /* Ensure the container takes up the full height of the viewport */

    .content-main {
        margin-left: 256px;
        padding: 1em;
    }
}